.nginx
ponicode
.env
setup.py
.DS_store
raw_photos
cam_photos
logs
saved_models
saved_accuracies
saved_val_loaders
.vscode
docker_builds/README.md
NYSM
*.pyc
*.parquet
worker*
purge.lock
global.lock
dask-worker*
.pyc
test
utils
training_dataset
images
Docs
1_min_obs
5_min_obs
matched_parquet
notebooks
night_precip
image-classification-tool
*.jpg
plots
/night_precip_hand_labeled
